doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, initial-scale=1, shrink-to-fit=no")
    // via https://stackoverflow.com/questions/12978254/twitter-bootstrap-datepicker-within-modal-window
    //
    meta(name="shellmoney:fullurl",content=fullURL)
    link(rel="stylesheet", href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href=fullURL+'/stylesheets/style.css')
  body
    block content
      p.p-2.m-2= message
      form(method='post')#form
        div.p-2.m-2
          label
            | Username: 
          input(type="text" name="username")
        div.p-2.m-2
          label
            | Password: 
          input(type="text" name="password")
        div.p-2.m-2
          input(type="submit" value="Login")#login
        div.p-2.m-2
          input(type="submit" value="Create new user")#create
    script(src='https://code.jquery.com/jquery-3.3.1.js')
    script(src=fullURL+'/javascripts/login.js')
    // Dont use the slim version of jquery here, this will cause calls to fail.
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js')
    script(src='https://code.jquery.com/ui/1.12.0/jquery-ui.min.js')      

